<div class="animated-background" aria-hidden="true">
  <div class="star-layer star-layer-one"></div>
  <div class="star-layer star-layer-two"></div>
  <div class="orbital-ring orbital-ring-one"></div>
  <div class="orbital-ring orbital-ring-two"></div>
</div>
